.date-input{
    font-size: 24px;
    text-align: center;
  }
  
  .or-container{
    display: flex;
    justify-content: center;
    height: 250px;
    width: 100%;
  }
  
  .or-divider {
    width: 2px;
    background: black;
    height: 100%;
  }
  
  .or-left{
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .or-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .or-right label{
    padding-bottom: 10px;
  }
  
  .-or- {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .or-text{
    padding: 20px;
    font-size: 20px;
  }
  .fb-connect-btn{
    min-width: 300px;
    font-size: 17px;
    line-height: 50px;
    border-radius: 3px;
    background-color: #353535;
    width: 200px;
    text-align: center;
    color: white;
  }
  
  .birth-input {
    line-height: 49px;
    font-size: 17px;
    width: 70px;
    height: 50px;
  }
  
  .location-input {
    line-height: 49px;
    font-size: 17px;
    width: 70px;
    height: 40px;
  }
  
  .getBirthdayContainer label{
    display: block;
  }
  
  .getLocationContainer label{
    display: block;
  }
  
  .drk-btn {
    font-size: 17px;
    line-height: 50px;
    border-radius: 3px;
    background-color: #353535;
    width: 140px;
    text-align: center;
    color: white;
    border: none;
  }