.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.test-top {
  display: flex;
  flex-direction:  row;
  justify-content: space-around;
  width: 100%;
}


.input {
}
