.App {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.color-output {
  height: 100px;
  width: 100px;
  background: grey;
  border: 1px solid black;
}

.input {
  border: solid 1px black;
  padding: 20px;
}

.output {
  border: solid 1px black;
  padding: 50px;
}